In [1]:
import requests
import pandas as pd
import numpy as np

# Census/ACS API to Pandas Template

### First, choose your survey of interest. The Census Bureau collects data in many areas through all types surveys, choose the survey you are interested here.
### https://www.census.gov/data/developers/data-sets.html

In [2]:
def get_acs_api_data(base, arr):
    """
    Use the ACS api to get data based on the desired variables.
    Args:
        base (string): base survey url
        arr (list): a list of variables to get the data for (from the ACS api page)
    Returns:
        data (json): the returned data in JSON form
    """
    api_string = ','.join(map(str, arr))
    base_url = f'{base}?get={api_string}';
    api_key = 'dd677280c5e9a6f9c1f6c4929fa378c2e3f1ebc5'; # Sam's personal API key, please don't abuse
    key_extend = f'&key={api_key}'
    url_extend = f'&for=state:*'; # CHANGE GEOGRAPHY HERE, see API examples page
    url = base_url + url_extend + key_extend
    data = requests.get(url).json();
    return data

def api_data_to_dataframe(data):
    """
    Transform JSON data into Pandas dataframe, setting the GEOID to be the unique geography  identifier.
    Args:
        data (json): the returned data from the ACS api
    Returns:
        df: dataframe with the ACS data
    """
    df = pd.DataFrame(data[1:], columns = data[0]);
    df[f'GEOID'] = df.state; # CHANGE GEOID HERE (e.g. if using county: df[f'GEOID'] = df.state + df.county)
    df.set_index(f'GEOID',inplace=True);
    return df

def clean_data(base, arr):
    """
    Combo method getting the ACS api data and transforming it into a dataframe
    Args:
        base (string): base survey url
        arr (list): a list of variables to get the data for (from the ACS api page)
    Returns:
        df: dataframe with the ACS data 
    """
    api_data = get_acs_api_data(base, arr); # get ACS data from api
    if api_data:
        df = api_data_to_dataframe(api_data); # transform into dataframe, if there is any data
    else:
        df = pd.DataFrame()
    keep_cols = np.append(arr,[f'GEOID']) # remove unneeded columns
    df.drop(columns=[col for col in df if col not in keep_cols], inplace=True)
    return df

def convert_columns_to_int(df,arr):
    """
    Convert the ACS columns to integers, instead of strings
    Args:
        df: ACS data frame
        arr (list): a list of variables to get the data for (from the ACS api page)
    Returns:
        df: ACS data frame
    """
    for i in arr:
        df[i] = df[i].astype(int)
    return df

## Next, use API base url to find variables codes
### Variable searches can be done either by variable or by group of variables (browsing by group is easier).

#### Example: 2019 5-year ACS
https://api.census.gov/data/2019/acs/acs5/groups.html

https://api.census.gov/data/2019/acs/acs5/variables.html

As always, be careful of Population vs. Households

In [7]:
# Dictionary with ACS variable (not group) codes, and the variable name to use in pandas dataframe
dic = {'B25040_004E': 'Total_Electricity',
        'B25040_006E': 'Total_Coal',
        'B25040_007E': 'Total_Wood',
        'B25040_002E': 'Total_Gas',
        'B25040_005E': 'Total_Oil'}

# Example: 2019 5-year ACS
base = "https://api.census.gov/data/2019/acs/acs5"

df = clean_data(base, np.append('NAME', list(dic.keys())))
df = df.rename(columns=dic)
df = convert_columns_to_int(df, list(dic.values()))

In [8]:
df

,NAME,Total_Electricity,Total_Coal,Total_Wood,Total_Gas,Total_Oil
GEOID,,,,,,
01,Alabama,1219270,288,17884,508701,2694
02,Alaska,32455,1077,14055,122179,74656
04,Arizona,1559585,378,50068,841729,2241
05,Arkansas,587036,47,40991,442718,1072
06,California,3470566,1486,198102,8364730,31508
08,Colorado,491442,914,37721,1485834,2088
10,Delaware,122146,307,3525,154829,41550
11,District of Columbia,122592,13,16,148954,3747
09,Connecticut,227068,1222,25021,487610,556309
12,Florida,7133334,724,11652,356263,10558
13,Georgia,2061220,296,28360,1470107,6195
16,Idaho,212770,288,43657,325033,8975
15,Hawaii,138016,151,1220,10197,231
17,Illinois,806394,946,21120,3755974,6967
18,Indiana,758925,3100,51003,1536446,16780
19,Iowa,288422,396,16550,773895,6167
20,Kansas,278171,163,17516,737965,1685
21,Kentucky,908085,3649,46361,643177,14112
22,Louisiana,1105093,84,8908,581402,755
23,Maine,38999,1287,59761,42107,344425
24,Maryland,919105,2123,26907,967736,186662
25,Massachusetts,421586,2371,34390,1355613,678224
26,Michigan,385768,1045,116756,3006749,42597
27,Minnesota,385813,497,46077,1441609,37587
28,Mississippi,626633,72,13601,330912,2570
29,Missouri,878514,512,83147,1219002,5013
30,Montana,104960,463,32255,226671,3979
31,Nebraska,233701,122,8956,449173,2885
32,Nevada,388813,259,14900,646148,6500
33,New Hampshire,49776,765,37945,110044,233035
34,New Jersey,421548,1244,12570,2426524,271250
35,New Mexico,154557,535,52392,501180,1139
36,New York,868765,17658,126612,4345992,1521756
37,North Carolina,2515111,788,66235,966355,118907
38,North Dakota,128602,569,1467,130082,7822
39,Ohio,1119554,3522,83025,3063710,99341
40,Oklahoma,578291,192,24185,762526,2955
41,Oregon,820938,208,102420,610894,29677
42,Pennsylvania,1168195,57586,131155,2599328,814303
44,Rhode Island,43017,294,6020,222021,122583
45,South Carolina,1374721,119,15417,432485,15548
46,South Dakota,109489,154,5830,160621,6525
47,Tennessee,1605180,574,44031,829089,9525
48,Texas,5845369,935,30949,3461132,8865
50,Vermont,14413,554,39433,46957,108976
49,Utah,131285,1012,11642,804440,1109
51,Virginia,1732184,1917,70363,1043666,141997
53,Washington,1588937,552,110629,982204,48856
54,West Virginia,325703,4040,42938,296652,20674
55,Wisconsin,378582,551,83445,1544693,46957
56,Wyoming,51186,980,11899,138865,556
72,Puerto Rico,130777,106,137,1038,163